<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/stylesheet.css" />
  <title>Pesquisa Avançada</title>
</head>

<body>
  <form th:action="@{/search}">
    <header class="secção" id="cabeçalho">
      <div id="img"><a th:href="@{'/'}"> <img src="images/store_logo.png" alt="Logotipo" /></a></div>
      <div id="search_bar"><input type="search" name="search_bar" /></div>
      <div id="button_wrapper">
        <button>Search</button>
        <a th:href="@{'/advanced'}">Advanced Search</a>
      </div>
    </header>
  </form>
  <section>
    <nav class="secção" id="categorias">
      <ul>
        <li><a id="Art" href="#">Art</a></li>
        <li><a id="Clothing" href="#">Clothing</a></li>
        <li><a id="Eletronics" href="#">Eletronics</a></li>
        <li><a id="Food" href="#">Food</a></li>
        <li><a id="Pet_Supplies" href="#">Pet Supplies</a></li>
        <li><a id="Video_Games" href="#">Video Games</a></li>
      </ul>
    </nav>
    <div id="pesquisa_avançada">
      <form action="http://localhost:8080/search.html" method="POST">
        <table>
          <tr>
            <td align="left">Descrição do produto:</td>
            <td align="left">
              <input id="product_description" name="product_description" type="text" />
            </td>
          </tr>
          <tr>
            <td align="left">Categoria do produto:</td>
            <td align="left">
              <select name="product_category" id="product_category">
                <option value="Food">Food</option>
                <option value="Clothing">Clothing</option>
                <option value="Eletronics">Eletronics</option>
                <option value="Art">Art</option>
                <option value="Video Games">Video Games</option>
              </select>
            </td>
          </tr>
          <tr>
            <td align="left">Intervalo de preço:</td>
            <td align="left">
              min:
              <input class="price_range" type="number" id="max_price" name="min_price" value="0" />
              max:
              <input class="price_range" type="number" id="max_price" name="max_price" value="999" />
            </td>
          </tr>
          <tr>
            <td>Localização do produto:</td>
            <td>
              <select name="product_location" id="product_location">
                <option value="Abu Dhabi">Abu Dhabi</option>
                <option value="Berlin">Berlin</option>
                <option value="Oslo">Oslo</option>
                <option value="Zagreb">Zagreb</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>Data de listagem na loja:</td>
            <td><input type="date" /></td>
          </tr>
          <tr>
            <td>Data de fim de disponibilidade:</td>
            <td><input type="date" /></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td align="right">
              <input id="form_submit" type="submit" value="Search" />
            </td>
          </tr>
        </table>
      </form>
    </div>
  </section>
  <footer class="secção" id="about">
    <table>
        <tr>
            <td>
                <a href="#">About this page</a>
            </td>
            <td sec:authorize="hasRole('ROLE_ADMIN')">
                <a th:href="@{/new}"><button>Create New Product</button></a>
            </td>
            <td sec:authorize="hasRole('ROLE_ADMIN')">
                <a href="/list-orders"><button>List Orders</button></a>
            </td>
            <td sec:authorize="hasRole('ROLE_USER')">
                <a href="/list-orders/user"><button>List Orders</button></a>
            </td>

            <td sec:authorize="isAnonymous()">
                <a href="/add-client"><button>Register</button></a>
            </td>

            <td sec:authorize="isAnonymous()">
                <a th:href="@{/login}">
                    <button>Log In</button>
                </a>
            </td>
            <td sec:authorize="isAuthenticated()">
                <form th:action="@{/logout}" method="post">
                    <input type="submit" value="Sign Out" />
                </form>
            </td>
        </tr>
    </table>
</footer>
</body>

</html>