<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="/css/stylesheet.css" />
	<title>Edit Product</title>
</head>

<body>
	<form th:action="@{/search}">
		<header class="secção" id="cabeçalho">
			<div id="img"><a th:href="@{'/'}"> <img src="/images/store_logo.png" alt="Logotipo" /></a></div>
			<div id="search_bar"><input type="search" name="search_bar" /></div>
			<div id="button_wrapper">
				<button>Search</button>
				<a th:href="@{'/advanced'}">Advanced Search</a>
			</div>
		</header>
	</form>
	<section>
		<nav class="secção" id="categorias">
			<ul>
				<li><a id="Art" href="#">Art</a></li>
				<li><a id="Clothing" href="#">Clothing</a></li>
				<li><a id="Eletronics" href="#">Eletronics</a></li>
				<li><a id="Food" href="#">Food</a></li>
				<li><a id="Pet_Supplies" href="#">Pet Supplies</a></li>
				<li><a id="Video_Games" href="#">Video Games</a></li>
			</ul>
		</nav>
		<div>
			<h1>Edit Product</h1>
			<br />
			<form action="#" th:action="@{/save}" th:object="${product}" method="post">

				<table>
					<tr>
						<td>Product ID:</td>
						<td>
							<input type="text" th:field="*{id}" readonly="readonly" />
						</td>
					</tr>
					<tr>
						<td>Product Name:</td>
						<td>
							<input type="text" th:field="*{name}" />
						</td>
					</tr>
					<tr>
						<td>Description:</td>
						<td><input type="text" th:field="*{description}" /></td>
					</tr>
					<tr>
						<td>PictureUrl:</td>
						<td><input type="text" th:field="*{pictureUrl}" /></td>
					</tr>
					<tr>
						<td>Price:</td>
						<td><input type="number" step=0.01 th:field="*{price}" /></td>
					</tr>
					<tr>
						<td>Fee:</td>
						<td><input type="number" step=0.01 th:field="*{fee}" /></td>
					</tr>
					<tr>
						<td>Stock:</td>
						<td><input type="number" step=0.01 th:field="*{stock}" /></td>
					</tr>
					<tr>
						<td>Delivery date:</td>
						<td><input type="text" th:field="*{delivery_date}" /></td>
					</tr>
					<tr>
						<td colspan="2"><button type="submit">Save</button> </td>
					</tr>
				</table>
			</form>
		</div>
	</section>
    <footer class="secção" id="about">
        <table>
            <tr>
                <td>
                    <a href="#">About this page</a>
                </td>
                <td sec:authorize="hasRole('ROLE_ADMIN')">
                    <a th:href="@{/new}"><button>Create New Product</button></a>
                </td>
                <td sec:authorize="hasRole('ROLE_ADMIN')">
                    <a href="/list-orders"><button>List Orders</button></a>
                </td>
                <td sec:authorize="hasRole('ROLE_USER')">
                    <a href="/list-orders/user"><button>List Orders</button></a>
                </td>

                <td sec:authorize="isAnonymous()">
                    <a href="/add-client"><button>Register</button></a>
                </td>

                <td sec:authorize="isAnonymous()">
                    <a th:href="@{/login}">
                        <button>Log In</button>
                    </a>
                </td>
                <td sec:authorize="isAuthenticated()">
                    <form th:action="@{/logout}" method="post">
                        <input type="submit" value="Sign Out" />
                    </form>
                </td>
            </tr>
        </table>
    </footer>
</body>

</html>